{
    "presets": [ "stage-0",
        [ "env", {
            "targets": {
              "browsers": [
                "Chrome >= 57",
                "Firefox >= 52",
                "Edge >= 12",
                "Explorer >= 11",
                "Safari >= 10",
              ]
            }
          }
      ]
    ]
}
